target/
project/target/
project/project/
**/target/

.git/
.gitignore
.github/

.metals/
.bloop/
.bsp/
.sbt/
.sbtboot/
.coursier/
.history/

.idea/
.idea_modules/
.vscode/
*.iml

.DS_Store

README.md
TEST-SPICKZETTEL.txt
docker-compose.yml
Dockerfile
.dockerignore
web/
